.aktif {
  background-color: var(--bs-blue) !important;
  color: white !important;
}
.dropdown {
  z-index: 99999;
}

.garis1,
.garis2 {
  display: inline-block;
  height: 2px;
  width: 40%;
  background-color: #a0a5d7;
}
.text-produk {
  color: #a0a5d7;
}
